<div>
    <mat-card>
        <form [formGroup] = "loginForm" (ngSubmit) ="OnSubmit()" >
           
                <mat-label>Username</mat-label>
                <input mat-Input formControlName ="name" name = "name">
                <mat-label>Password</mat-label>
                <input mat-Input formControlName ="password" name ="password" type="password">
                <!-- <mat-error *ngIf="loginForm.value.name">Only alphabets and numbers are allowed</mat-error> -->
                <button mat-button>Login</button>
                <button mat-button>Password</button>
            
        </form>
    </mat-card>
</div>