.login
{
    display: flexbox ;
    justify-content: center;
    
}
.form
{
   display: flex;
   justify-content: space-around;
}
.logo
{
    height: 100px;
}
.logo-container
{
    display: flex ;
    justify-content: center;
    
}