<div class="login">
    <mat-card >
        <div class="form">
            <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
                <div>
                    <mat-label>Username </mat-label>
                    <input mat-Input formControlName="name" name="name">
                </div>
                <div>
                    <mat-label>Password </mat-label>
                    <input mat-Input formControlName="password" name="password" type="password">
                </div>
                <mat-error *ngIf="loginForm.get('name')?.hasError('pattern')">Only alphabets and numbers are
                    allowed</mat-error>
                <div>
                    <button mat-button color="primary" [disabled]="loginForm.invalid">Login</button>
                    <button mat-button>Register</button>
                </div>

            </form>
        </div>
    </mat-card>

</div>